<div class="user-list-container-div">
    <input class="form-control" id="searchUserInput" type="text" placeholder="Search User.." (keyup)="filterUserList()"
        [(ngModel)]="userInput">
    <ul class="list-group" id="userList">
        <li *ngFor="let user of filteredList" class="list-group-item user-details-li"
            [ngClass]="{'active': selectedItem == user}" title="{{user.emailid}}" (click)="getUserMessages(user)">
            {{user.firstname}} {{user.lastname}}
        </li>
    </ul>
</div>