.user-list-container-div
{
    padding:5px;
    overflow: auto;
    height: calc( 100vh - 55px);
    border-right: 1px solid lightgray;
    width: 100%;
}

#searchUserInput {
    margin-bottom: 5px;
}

.user-details-li
{
    cursor: pointer;
}