.user-list-container-div
{
    padding:5px;
    overflow: auto;
    height: calc( 100vh - 55px);
    border-right: 1px solid lightgray;
    width: 100%;
}

.loggedInUserLI
{
    background: rgb(233, 232, 232);
}

#searchUserInput {
    margin-bottom: 5px;
}

.user-details-li
{
    cursor: pointer;
}

.user-details-li:not(.active):hover
{
    background: lightgray;
}